<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="CarKit_1">
  <!-- CarKit Parameters from Datasheet -->
  <xacro:property name="sensor_length" value="0.065" />
  <xacro:property name="sensor_height" value="0.0694" />
  <xacro:property name="sensor_width" value="0.034" />
  <xacro:property name="sensor_mass" value="0.100" />

  <xacro:macro name="CarKit_1" params="*origin parent:=base_link name:=carkit">
      <link name="${name}">
          <inertial>
              <mass value="${sensor_mass}"/>
              <origin xyz="0 0 0" rpy="0 0 0 "/>
              <inertia ixx="0.000241148" ixy="0" ixz="0"
                        iyy="0.000241148" iyz="0" izz="0.000264"/>
          </inertial>
          <visual>
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <geometry>
               <!-- <mesh filename="file://$(find vifware_sensor_plugins)/meshes/infineon_carkit_1.dae" />-->
                <box size="${sensor_width} ${sensor_height} ${sensor_length}"/>
              </geometry>
              <material name="Black"/>
          </visual>
      </link>

      <joint name="${name}_mount_joint" type="fixed">
          <xacro:insert_block name="origin" />
          <parent link="${parent}"/>
          <child link="${name}"/>
      </joint>

  </xacro:macro>
</robot>