<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Camera_TierIV_C2">
    <!--  Standard camera without any specific configuration-->
    <xacro:property name="camera_sensor_height" value="0.045" />
    <xacro:property name="camera_sensor_width" value="0.045" />
    <xacro:property name="camera_sensor_depth" value="0.05304" />
    <!-- TODO Mass has to be confirmed -->
    <xacro:property name="camera_sensor_mass" value="0.100" />

    <xacro:macro name="Camera_TierIV_C2" params="*origin name:=tieriv_camera parent:=base_link material:=Grey">
        <link name="${name}">
            <inertial>
                <mass value="${camera_sensor_mass}"/>
                <origin xyz="0 0 0" rpy="0 0 0 "/>
                <inertia ixx="0.000241148" ixy="0" ixz="0"
                         iyy="0.000241148" iyz="0" izz="0.000264"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 -1.5705"/>
                <geometry>
                    <mesh filename="file://$(find vifware_sensor_plugins)/meshes/tieriv_c2.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="DarkGrey">
                    <color rgba="0.1 0.1 0.1 1"/>
                </material>                
            </visual>
        </link>

        <joint name="${name}_mount_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="${name}"/>
        </joint>

    </xacro:macro>
</robot>
